.ItemDetailContainer{
    .ItemDetail{
        .ItemDetailText{
            font-family: $Textos;
            font-size: 1.3rem;
            h1{
               font-family: $Titulos;
            }
            .buttonsCount{
                button{
                    font-size: 1.5rem;
                }
                
            }
            .btnCart{
                font-size: 1.5rem;

            }
        }
    }
}