.ItemListContainer{
    font-family: $Textos;
    .ItemList{
        h2{
            font-family: $Titulos;
            color: $Cafe;
        }
        .Items{
            .Item{
                .ItemInt{
                    text-decoration: none;
                    color:$Cafe;
                    h5{
                        font-family: $Titulos;
                    }
                    // box-shadow: 60px -16px teal;
                    .imag1{
                    display: inline;
                    }
                    .imag2{
                        display:none; 
                    }    
                }
                
            }
            .Item:hover{
                h5{
                    color: $Amarillo;
                }
                .imag1{
                    display: none;
                 }
                 .imag2{
                     display:inline; 
                 }   
            }
        }
    }
}