footer{
    h5{ 
        font-family: $Titulos;
        color: $Cafe;
    }
    .btn{
        background-color: $Cafe;
        color: white;
        border: 0px;
    }
    p{
        color: $Cafe;
    }
}