header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    flex-direction: row;
    margin-top: 15px;
}
nav a{
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    display: inline-block;
    padding: 0px 10px 0px 10px;
}
li a{
    text-decoration: none;
    padding: 5px;
    border-bottom: solid 1.4px #DEA855;
    border-top: solid 1.4px #DEA855;
    color: #3B2729;
}
.sale{
    color:red;
}
li a:hover{
    background-color:#DEA855;
    color: white;
}