*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

$Textos: 'Josefin Sans', sans-serif;
$Titulos: 'Merriweather', serif;
$Cafe: #3B2729;
$Amarillo: #DEA855;
@import "/src/components/Header/Header.scss";
@import "/src/components/Item/Item.scss";
@import "/src/components/ItemDetail/ItemDetail.scss";
@import "/src/components/Footer/footer.scss";
@import "/src/components/Loader/Loader.scss";
@import "/src/components/LoginScreen/LoginScreen.scss";
-cards{
    h4{
        font-size: $Titulos;
    }

}










